---
# layout: "layout"
category: 'color1'
---

  <section class="bar color3">
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <h1><%= product_name %></h1>
        </div>
      </div>
    </div>
  </section>

  <section id="page" style="">
    <div class="container" style="">
      <div id="sect1" class="row-fluid">
        <div id="portfolio" class="span12">
          <div id="pp1" class="row-fluid gallery thumbnails" style="margin-left:-75px;">      
            <div id="pp2" style="margin-left:auto;margin-right:auto;width:100%;padding:30px;width:600px;">
              <a href="#">
                <img src="http://placehold.it/600x300" alt="" class="thumbnail" />                
              </a>
            </div>  
            <div id="pp3" style="margin-left:auto;margin-right:auto;width:100%;padding:30px;width:600px;">
              <p>
<!--               class="span4" style="padding-left:12px;padding-right:12px;padding-top:8px;clear:left;min-height:200px;overflow:auto;margin-bottom:10px;min-width:607px;margin-left:0px;width:607px;" -->
                <%= product_values['description'] %>
              </p>
            </div>              
          </div>
        </div>
      </div>
    </div>
  </section>
